Reletorio IV

1. Criar uma coluna no df com base entre caloria e a media Geral de calorias.
2. Criar uma coluna com a diferencia entre o candidato e a maior duracao.
3. ver dados estatisticos.
4. Criar uma variavel de datas no intevalo entre Novembro e Dezembro, basiada na Week.
5. Tratar erros de dados ausentes.

In [2]:
import pandas as pd

In [65]:
df_data = pd.read_csv("datasets/data2.csv")

In [66]:
df_data.head(2)

     Name  Week  Duration  Pulse  Maxpulse  Calories
0  Robert     1        60    110       130     409.1
1    Mark     1        60    117       145     479.0

In [67]:
# Serie
df_data.Calories.sum()
df_data.Calories.count()
df_data.Calories.std()
df_data.Calories.min()
df_data.Calories.max()
df_data['Calories'].var()

# Media Geral
df_data.Calories.mean()

375.79024390243904

In [73]:
df_data[df_data.Calories == 50.3]

      Name  Week  Duration  Pulse  Maxpulse  Calories
89  Leonel     5        20     83       107      50.3

In [74]:
df_data[df_data.Calories == 1860.4]

     Name  Week  Duration  Pulse  Maxpulse  Calories
109  Jobs     6       210    137       184    1860.4

In [50]:
# df_data.Calories = df_data.Calories.fillna(0)

In [57]:
# df_data.Calories.mean(skipna=False)

In [60]:
# df_data[df_data.Calories == 0]

In [61]:
# df_data.shape

In [59]:
# nums = [1,3,4,0]
# nums2 = [1,3,4]

# print(f"media nums = {sum(nums)/len(nums)} | tamanho: {sum(nums)}")
# print(f"media nums2 = {sum(nums2)/len(nums2)} | tamanho: {sum(nums2)}")

In [86]:
# Media Geral
media_g = df_data.Calories.mean()

# Caloria da pessoal
selecao = df_data.Name == "Leonel"
media_leonel = df_data[selecao].Calories.mean()
calorias_leonel = df_data[selecao].Calories

# Diferencia
diferencia = calorias_leonel - media_g

print(f"Media Geral: {media_g}")
print(f"Media Leonel: {media_leonel}")
print(f"Diferencia: {media_g - media_leonel}")

Media Geral: 375.79024390243904
Media Leonel: 372.05499999999995
Diferencia: 3.7352439024390947

In [98]:
def diferencia_da_media_geral(x):
    media_calorias_geral = df_data.Calories.mean()
    
    try:
        int(x)
        return round(x - media_calorias_geral)
    except:
        return x

In [99]:
df_data["DMediaGeral"] = df_data.Calories.apply(diferencia_da_media_geral)

ValueError: cannot convert float NaN to integer

In [97]:
df_data.head(3)

     Name  Week  Duration  Pulse  Maxpulse  Calories  DMediaGeral
0  Robert     1        60    110       130     409.1    33.309756
1    Mark     1        60    117       145     479.0   103.209756
2   Susan     1        60    103       135     340.0   -35.790244

In [93]:
df_data.Calories.mean()

375.79024390243904