# Modulo 04

### Laboratório 1

Usando os arquivos **clientes.csv** e **pedidos.csv**, determinar um agrupamento com as colunas **CODCLI**, **NOME** e **CIDADE** presente em **clientes.csv** com as colunas **CODCLI** e **VLR_TOTAL** presente em **pedidos.csv**. Usar as funções **merge()** e **groupby()**, de modo a determinar as quantidades de pedidos por cliente.

Após esta operação, transformar a coluna **CIDADE** em dado categórico e apresentar uma descrição.

Obs.: A coluna **CIDADE** é uma coluna numérica, indicando o código da cidade.

In [59]:
import pandas as pd

In [60]:
# Pegar os arquivos

df_clientes = pd.read_csv("../datasets/clientes.csv", sep=";")
df_pedidos = pd.read_csv("../datasets/pedidos.csv", sep=";")

In [61]:
df_clientes.head(2)

,CODCLI,NOME,FANTASIA,ENDERECO,BAIRRO,CIDADE,ESTADO,CEP,END_COB,BAI_COB,...,EST_COB,CEP_COB,CNPJ,INSCRICAO,FONE1,FAX,E_MAIL,DATA_CAD,ICMS,REVENDA_CONSUMIDOR
0,3,AUGUSTO FOLHINHAS LTDA,AUGUSTO F. LTDA,RODOVIA SP 294 KM 453,MARILIA,MARILIA,SP,17500000.0,RODOVIA SP 294 KM 453,NaN,...,SP,17500000.0,55230056000124,438.027.140-117,0144331774,NaN,NaN,1997-02-06 00:00:00.000,18.0,C
1,4,ASSEIS BRINDES COMERCIO INDUSTRIA LTDA,ASSIS BRINDES LTDA,"R.COMENDADOR JOSE ZILLO,401",PQ. DOS OCACIS,ASSIS,SP,19800000.0,"R.COMENDADOR JOSE ZILLO,401",PQ. DOS OCACIS,...,SP,19800000.0,47578117000110,189.017.896.112,018 3223490,018 3243927,PAULO Angelino,1997-02-06 00:00:00.000,18.0,C

In [62]:
df_pedidos.head(2)

,NUM_PEDIDO,CODCLI,CODVEN,DATA_EMISSAO,VLR_TOTAL,SITUACAO,OBSERVACOES
0,1,5,3,2005-03-20 01:53:13.497,2.0,E,NaN
1,2,431,2,2012-12-18 01:53:13.497,30.7,E,Vazio

In [63]:
df_agrupamento = pd.merge(
    df_clientes[["CODCLI", "NOME", "CIDADE"]],
    df_pedidos[["CODCLI", "VLR_TOTAL"]],
    on="CODCLI"
).groupby(["CODCLI", "NOME", "CIDADE"]).count().reset_index()

In [64]:
# df_agrupamento.index = df_agrupamento.CODCLI

In [65]:
df_agrupamento = df_agrupamento.rename(columns={"VLR_TOTAL":"QTD"})

In [66]:
df_agrupamento.head(2)

   CODCLI                                    NOME   CIDADE  QTD
0       3                  AUGUSTO FOLHINHAS LTDA  MARILIA   16
1       4  ASSEIS BRINDES COMERCIO INDUSTRIA LTDA    ASSIS   23

In [67]:
df_agrupamento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CODCLI  540 non-null    int64
 1   NOME    540 non-null    object
 2   CIDADE  540 non-null    object
 3   QTD     540 non-null    int64
dtypes: int64(2), object(2)
memory usage: 17.0+ KB

In [68]:
df_agrupamento.CIDADE = df_agrupamento.CIDADE.astype("category")

In [69]:
df_agrupamento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CODCLI  540 non-null    int64
 1   NOME    540 non-null    object
 2   CIDADE  540 non-null    category
 3   QTD     540 non-null    int64
dtypes: category(1), int64(2), object(1)
memory usage: 19.4+ KB

In [70]:
df_agrupamento.CIDADE.cat.codes.describe()

count    540.000000
mean     106.553704
std       54.118221
min        0.000000
25%       51.750000
50%      120.000000
75%      159.000000
max      194.000000
dtype: float64

In [71]:
df_clientes.CIDADE.describe()

count           541
unique          196
top       SAO PAULO
freq            111
Name: CIDADE, dtype: object

In [73]:
df_clientes.describe(include="all")

,CODCLI,NOME,FANTASIA,ENDERECO,BAIRRO,CIDADE,ESTADO,CEP,END_COB,BAI_COB,...,EST_COB,CEP_COB,CNPJ,INSCRICAO,FONE1,FAX,E_MAIL,DATA_CAD,ICMS,REVENDA_CONSUMIDOR
count,562.000000,562,562,543,461,541,554,4.980000e+02,316,216,...,291,2.800000e+02,483,465,474,131,127,474,561.000000,561
unique,NaN,557,556,540,320,196,21,NaN,297,155,...,19,NaN,475,448,463,130,120,77,NaN,2
top,NaN,JOSE CAMILO NETO,MARJO REPRESENTACOES,"R.SAO PAULO,3305",CENTRO,SAO PAULO,SP,NaN,O MESMO,CENTRO,...,SP,NaN,00101525000113,ISENTO,012 3311203,021 3577780,C/JANAINA,1997-02-17 00:00:00.000,NaN,C
freq,NaN,2,2,2,88,111,302,NaN,14,47,...,127,NaN,2,9,2,2,3,163,NaN,373
mean,304.690391,NaN,NaN,NaN,NaN,NaN,NaN,3.049698e+07,NaN,NaN,...,NaN,3.459510e+07,NaN,NaN,NaN,NaN,NaN,NaN,14.121212,NaN
std,176.994255,NaN,NaN,NaN,NaN,NaN,NaN,2.863685e+07,NaN,NaN,...,NaN,2.977841e+07,NaN,NaN,NaN,NaN,NaN,NaN,4.641382,NaN
min,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+06,NaN,NaN,...,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
25%,151.250000,NaN,NaN,NaN,NaN,NaN,NaN,8.625900e+06,NaN,NaN,...,NaN,9.850182e+06,NaN,NaN,NaN,NaN,NaN,NaN,12.000000,NaN
50%,301.500000,NaN,NaN,NaN,NaN,NaN,NaN,1.715000e+07,NaN,NaN,...,NaN,2.246012e+07,NaN,NaN,NaN,NaN,NaN,NaN,18.000000,NaN
75%,450.750000,NaN,NaN,NaN,NaN,NaN,NaN,5.269269e+07,NaN,NaN,...,NaN,6.400558e+07,NaN,NaN,NaN,NaN,NaN,NaN,18.000000,NaN
max,632.000000,NaN,NaN,NaN,NaN,NaN,NaN,9.970000e+07,NaN,NaN,...,NaN,9.572000e+07,NaN,NaN,NaN,NaN,NaN,NaN,18.000000,NaN

In [ ]:
df_agrupamento.CIDADE.cat.codes.plot.box(vert=False)

In [74]:
df_agrupamento.isnull().sum()

CODCLI    0
NOME      0
CIDADE    0
QTD       0
dtype: int64

In [77]:
# df_agrupamento.to_csv("../arquivos_gerados/modulo_04.csv")