# Laboratórios do Módulo 2

### Laboratório 1

Considere os arquivos clientes.csv e pedidos.csv. Escrever um programa que:

- Leia os dois arquivos e os armazene em dataframes;
- Use a função merge() para combinar os clientes e os pedidos, destacando a quantidade de pedidos por cliente.

In [1]:
import pandas as pd

In [3]:
df_clientes = pd.read_csv("../datasets/clientes.csv", sep=";")

In [5]:
df_clientes.head(2)

,CODCLI,NOME,FANTASIA,ENDERECO,BAIRRO,CIDADE,ESTADO,CEP,END_COB,BAI_COB,...,EST_COB,CEP_COB,CNPJ,INSCRICAO,FONE1,FAX,E_MAIL,DATA_CAD,ICMS,REVENDA_CONSUMIDOR
0,3,AUGUSTO FOLHINHAS LTDA,AUGUSTO F. LTDA,RODOVIA SP 294 KM 453,MARILIA,MARILIA,SP,17500000.0,RODOVIA SP 294 KM 453,NaN,...,SP,17500000.0,55230056000124,438.027.140-117,0144331774,NaN,NaN,1997-02-06 00:00:00.000,18.0,C
1,4,ASSEIS BRINDES COMERCIO INDUSTRIA LTDA,ASSIS BRINDES LTDA,"R.COMENDADOR JOSE ZILLO,401",PQ. DOS OCACIS,ASSIS,SP,19800000.0,"R.COMENDADOR JOSE ZILLO,401",PQ. DOS OCACIS,...,SP,19800000.0,47578117000110,189.017.896.112,018 3223490,018 3243927,PAULO Angelino,1997-02-06 00:00:00.000,18.0,C

In [7]:
df_pedidos = pd.read_csv("../datasets/pedidos.csv", sep=";")

In [33]:
df_pedidos.head(2)

,NUM_PEDIDO,CODCLI,CODVEN,DATA_EMISSAO,VLR_TOTAL,SITUACAO,OBSERVACOES
0,1,5,3,2005-03-20 01:53:13.497,2.0,E,NaN
1,2,431,2,2012-12-18 01:53:13.497,30.7,E,Vazio

In [12]:
df_clientes.shape

(562, 21)

In [13]:
df_pedidos.shape

(11322, 7)

In [110]:
df_pedidos_por_cliente = pd.merge(
    df_clientes[["CODCLI", "NOME"]],
    df_pedidos[["CODCLI", "VLR_TOTAL"]], on="CODCLI"
)

In [111]:
df_pedidos_por_cliente.shape

(11322, 3)

In [112]:
df_pedidos_por_cliente.tail()

       CODCLI                                        NOME  VLR_TOTAL
11317     626  PROGERAL IND. DE ARTEFATOS PLASTICOS LTDA.    2119.09
11318     626  PROGERAL IND. DE ARTEFATOS PLASTICOS LTDA.    5880.46
11319     626  PROGERAL IND. DE ARTEFATOS PLASTICOS LTDA.    1053.95
11320     626  PROGERAL IND. DE ARTEFATOS PLASTICOS LTDA.    2257.57
11321     626  PROGERAL IND. DE ARTEFATOS PLASTICOS LTDA.   10112.21

In [115]:
df_pedidos_por_cliente = df_pedidos_por_cliente.groupby(["CODCLI", "NOME"]).count().reset_index()
df_pedidos_por_cliente.columns = ["CODCLI", "NOME", "PEDIDOS"]
df_pedidos_por_cliente.head()

   CODCLI                                          NOME  PEDIDOS
0       3                        AUGUSTO FOLHINHAS LTDA        1
1       4        ASSEIS BRINDES COMERCIO INDUSTRIA LTDA        1
2       5                  AVEL APOLIMARIO VEICULOS S.A        1
3       6                            ANTONIO M.DE SOUZA        1
4       7  ERISTON SERIGRAFIA ESTRUT.ART.PLAST.LTDA.-ME        1

In [101]:
# df_pedidos_por_cliente.sort_values(by=['VLR_TOTAL']).head()

In [75]:
count_1 = df_pedidos_por_cliente[df_pedidos_por_cliente.NOME == "AUGUSTO FOLHINHAS LTDA"].VLR_TOTAL.value_counts()
sort_2 = df_pedidos_por_cliente[df_pedidos_por_cliente.NOME == "AUGUSTO FOLHINHAS LTDA"].VLR_TOTAL.sort_values()

In [76]:
type(count_1)

pandas.core.series.Series

In [90]:
type(count_1.reset_index())

pandas.core.frame.DataFrame

In [102]:
count_1.head()

VLR_TOTAL
1364.12    1
2042.52    1
48.44      1
762.19     1
5894.05    1
Name: count, dtype: int64

-----------

### Laboratório 2

Usando os arquivos pedidos.csv e itenspedido.csv, escreva um programa que:

- Leia os dois arquivos e produza um dataframe de cada; 
- Use a função merge() para combinar os itens e os pedidos, apresentando a soma dos itens por pedido.

In [117]:
df_pedidos = pd.read_csv("../datasets/pedidos.csv", sep=";")

In [118]:
df_itenspedido = pd.read_csv("../datasets/itenspedido.csv", sep=";")

In [143]:
df_pedidos.head(2)

,NUM_PEDIDO,CODCLI,CODVEN,DATA_EMISSAO,VLR_TOTAL,SITUACAO,OBSERVACOES
0,1,5,3,2005-03-20 01:53:13.497,2.0,E,NaN
1,2,431,2,2012-12-18 01:53:13.497,30.7,E,Vazio

In [120]:
df_itenspedido.head(2)

,NUM_PEDIDO,NUM_ITEM,ID_PRODUTO,COD_PRODUTO,CODCOR,QUANTIDADE,PR_UNITARIO,DATA_ENTREGA,SITUACAO,DESCONTO
0,2,1,7,007,1,50,0.32,2006-01-07 18:10:54.510,P,5
1,2,2,4,004,1,20,0.50,2006-01-07 18:10:54.510,P,5

In [122]:
df_pedidos_itens = pd.merge(
    df_pedidos[["NUM_PEDIDO", "DATA_EMISSAO"]],
    df_itenspedido[["NUM_PEDIDO", "QUANTIDADE", "PR_UNITARIO"]],
    on="NUM_PEDIDO"
)

In [123]:
df_pedidos_itens.head(2)

   NUM_PEDIDO             DATA_EMISSAO  QUANTIDADE  PR_UNITARIO
0           2  2012-12-18 01:53:13.497          50         0.32
1           2  2012-12-18 01:53:13.497          20         0.50

In [132]:
df_pedidos_itens = df_pedidos_itens.groupby(["NUM_PEDIDO", "DATA_EMISSAO"]).sum().reset_index()

In [133]:
df_pedidos_itens.head()

   NUM_PEDIDO             DATA_EMISSAO  QUANTIDADE  PR_UNITARIO
0           2  2012-12-18 01:53:13.497          90         1.12
1           3  2012-12-18 01:53:13.497          70         2.60
2           4  2012-12-18 01:53:13.497         500         3.81
3           5  2012-12-18 01:53:13.497          60         2.54
4           6  2012-12-18 01:53:13.497        1005        15.77

In [136]:
df_pedidos_itens["VR_TOTAL"] = df_pedidos_itens.QUANTIDADE * df_pedidos_itens.PR_UNITARIO

In [137]:
df_pedidos_itens.head()

   NUM_PEDIDO             DATA_EMISSAO  QUANTIDADE  PR_UNITARIO  VR_TOTAL
0           2  2012-12-18 01:53:13.497          90         1.12    100.80
1           3  2012-12-18 01:53:13.497          70         2.60    182.00
2           4  2012-12-18 01:53:13.497         500         3.81   1905.00
3           5  2012-12-18 01:53:13.497          60         2.54    152.40
4           6  2012-12-18 01:53:13.497        1005        15.77  15848.85

In [140]:
df_pedidos_itens = df_pedidos_itens.groupby(["NUM_PEDIDO","DATA_EMISSAO","QUANTIDADE","PR_UNITARIO", "VR_TOTAL"]).sum().reset_index().sort_values(by=[ "NUM_PEDIDO","DATA_EMISSAO","QUANTIDADE","PR_UNITARIO","VR_TOTAL"])

In [141]:
df_pedidos_itens.head(2)

   NUM_PEDIDO             DATA_EMISSAO  QUANTIDADE  PR_UNITARIO  VR_TOTAL
0           2  2012-12-18 01:53:13.497          90         1.12     100.8
1           3  2012-12-18 01:53:13.497          70         2.60     182.0

In [142]:
df_pedidos_itens.shape

(11285, 5)